{% extends 'base.html' %}

{% block theme %}class="bg-{{ color }} text-dark"{% endblock %}

{% block content %}
<div style="text-align: center;" class="mt-2">
    {% if user.is_superuser %}
        <h3>Профиль администратора {{ user.username }}</h3>
    {% else %}
        <h3>Профиль пользователя {{ user.username }}</h3>
    {% endif %}
    <hr>
</div>
    <div style="text-align: center;">
        <h5>Тема</h5>
        <a class="btn btn-light" href="/theme?color=light">Светлая</a>
        <a class="btn btn-outline-dark" href="/theme?color=dark">Тёмная</a>
    </div>
     <hr>
{% if article_list %}

    <div style="text-align: center;">
        {% if user.is_superuser %}
        <a>Всего лайков у статей: {{ likes_count }}</a>
    <hr>
        <h3>Все статьи</h3>
    {% else %}
        <a>Всего получено лайков: {{ likes_count }}</a>
    <hr>

        <h3>Ваши статьи</h3>
    {% endif %}

        <a class="btn btn-outline-secondary mb-4" href="{% url 'articles:new' %}">Новая статья</a>
    </div>
    {% for a in article_list %}
        <div class="col d-flex justify-content-center">
            <div class="card w-75 bg-{{ color }} text-dark">
                <div class="card-body">
                    <h5 class="card-title">{{a.article_title}}</h5>
                    <em class="card-text">by {{ a.author_name }}</em>
                    <p><em>Опубликовано: {{ a.pub_date }}</em><br>теги: {{ a.tags.all|join:", "  }}</p>
                    <p>Категория: {{ a.group }}</p>
                    <p>Лайков: {{ a.likes }}</p>
                    <p>Рейтинг: {{ a.avg_rating }}</p>
                    {% if color == 'light' %}
                        <a class="btn btn-outline-primary" href={% url 'articles:detail' a.id %}>Перейти</a>
                        <a class="btn btn-outline-info" href={% url 'articles:edit' a.id %}>Редактировать</a>
                        <a class="btn btn-outline-danger" href={% url 'articles:delete' a.id %}>Удалить</a>
                    {% else %}
                        <a class="btn btn-primary" href={% url 'articles:detail' a.id %}>Перейти</a>
                        <a class="btn btn-info" href={% url 'articles:edit' a.id %}>Редактировать</a>
                        <a class="btn btn-danger" href={% url 'articles:delete' a.id %}>Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div style="text-align: center;">
        <h3>У вас ещё нет ни одной написанной статьи. Исправьте это!</h3>
        <a class="btn btn-outline-secondary" href="{% url 'articles:new' %}">Новая статья</a>
    </div>
{% endif %}


{% endblock %}