{% extends 'base.html' %}


{% block content %}
    <br>
        <a class="btn btn-outline-dark" href="{% url 'articles:index' %}"><span
                class="bi bi-card-list"></span>Все статьи</a>
    <br>

    {% if latest_articles_list %}
        <div style="text-align: center;">
            <h3>Свежие статьи</h3>
        </div>
            {% for a in latest_articles_list %}
                <div class="col d-flex justify-content-center">
                <div class="card w-75">
                    <div class="card-body">
                        <h5 class="card-title">{{a.article_title}}</h5>
                        <em class="card-text">by {{ a.author_name }}</em>
                        <p><em>Опубликовано: {{ a.pub_date }}</em><br>теги: {{ a.tags.all|join:", "  }}</p>
                        <p>Категория: {{ a.group }}; Рейтинг: {{ a.avg_rating }}</p>

                        <a class="btn btn-primary" href={% url 'articles:detail' a.id %}>Перейти</a>
                    </div>
                </div>
                </div>
            {% endfor %}
    {% else %}
            {% if user.is_authenticated %}
                <h3>Давненько на этом сайте не было статей. Исправьте это, напишите свою!</h3>
                <a class="btn btn-outline-secondary" href="{% url 'articles:new' %}">Новая статья</a>
            {% else %}
                <h3>Давненько на этом сайте не было статей. Исправьте это, авторизуйтесь и напишите свою!</h3>
            {% endif %}
    {% endif %}

    <div style="text-align: center;">
    <hr>
        <h3>Лучшие статьи</h3>
        {% if best %}
            {% for b in best %}
                <div class="col d-flex justify-content-center">
                    <div class="card w-50">
                        <div class="card-body">
                            <h5 class="card-title">{{b.article_title}}</h5>
                            <em class="card-text">by {{ b.author_name }}</em>
                            <p><em>Опубликовано: {{ b.pub_date }}</em><br>теги: {{ b.tags.all|join:", "  }}</p>
                            <p>Категория: {{ b.group }}</p>
                            <p>Лайков: {{ b.likes }}</p>
                            <p>Рейтинг: {{ b.avg_rating }}</p>
                            <a class="btn btn-primary" href={% url 'articles:detail' b.id %}>Перейти</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <hr>
    <div style="text-align: center;">
        <div class="col d-flex justify-content-center">
            <div class="card w-50">
                <div class="card-body">
                    <h5 class="card-title">Облако тегов</h5>
                    {% for tag in tags %}
                        <em><a href="{% url 'articles:bytags' tag.id %}" class="card-text"><span class="btn btn-secondary">{{ tag.name }}</span></a></em>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
